<!--   Core JS Files   
<script src="../static/assets/js/core/jquery.min.js"></script>
<script src="../static/assets/js/core/popper.min.js"></script>
<script src="../static/assets/js/core/bootstrap.min.js"></script>
<script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script src="../static/assets/js/plugins/chartjs.min.js"></script>
<script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
<script src="../static/assets/js/black-dashboard.min.js?v=1.0.0"></script>
<script src="../static/assets/demo/demo.js"></script>
<script src="../static/assets/js/nhat.js"></script>
<script src="../static/assets/js/sweetalert.min.js"></script>
<script src="../static/assets/js/sweetalert2.all.min.js"></script>
<script src="../static/assets/js/themeSettings.js"></script>-->


<script src="{{ url_for('static', filename='assets/js/core/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/core/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/black-dashboard.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/demo/demo.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/nhat.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/sweetalert.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/sweetalert2.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/themeSettings.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/highcharts.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/networkgraph.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/accessibility.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/socket.io.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/popper.min.2.js')}}"></script>
<!--<script src="{{ url_for('static', filename='assets/js/core/popper2.min.js')}}"></script>-->
<script src="{{ url_for('static', filename='assets/js/core/tempus-dominus.min.js')}}"></script>

<!-- Tempus Dominus JS -->
