{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
table {
  table-layout: fixed;
  width: 100%;
}

thead th,
tbody td {
  text-align: center !important; /* Căn giữa ngang */
  vertical-align: middle;        /* Căn giữa dọc */
  font-size: 12px;
}


  .datepicker {
    width: 300px !important; 
    padding: 3px !important; 
  }
  .datepicker table {
    width: 300px !important; /* Đảm bảo bảng bên trong chiếm hết chiều rộng */
  }
  .datepicker td, .datepicker th {
    padding: 5px !important; /* Điều chỉnh padding các ô ngày tháng */
    font-size: 12px !important; /* Điều chỉnh kích thước font chữ */
  }

  /*fit bảng GIÁM SÁT với chiều cao của site*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.content, .row, .col-md-12, .card {
  height: 100%;
}
.card-body {
  height: calc(100vh - 220px); /* Điều chỉnh số px cho vừa header/footer */
  overflow-y: auto;
  padding-bottom: 0;
}
.content {
  background-color: #e8e8e8 !important;
}
.card {
  border: none !important;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2) !important;
}

</style>

{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header d-flex align-items-center" style="gap: 15px;">
            <h4 class="card-title"> <strong>GIÁM SÁT HOẠT ĐỘNG</strong></h4>
            
            <input type="text" id="datetimepicker_1" class="form-control" style="flex: 1;" placeholder="Từ ngày" />
            <input type="text" id="datetimepicker_2" class="form-control" style="flex: 1;" placeholder="Đến ngày" />
            <label class="btn btn-sm btn-default active" id="search_history_button" style="flex-shrink: 0;">
              <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" >Tìm kiếm</span>
          </label>
          </div>
          <div class="card-body">
            <div class="table-responsive ps">
              <table class="table tablesorter " id="">
                <thead class="text-primary">
                  <tr>
                    <th scope="col" class="sort col-2">IP</th>
                    <th scope="col" class="sort col-2">MAC</th>
                    <th scope="col" class="sort col-2">THỜI GIAN</th>
                    <th scope="col" class="sort col-3">ĐƠN VỊ</th>
                    <th scope="col" class="sort col-3">HÀNH VI</th>
                  </tr>
                </thead>
                <tbody>
                  {%if a == 0%}
                  <tr>
                    <th scope="col" class="sort">192.168.100.130</th>
                    <th scope="col" class="sort">SDDSADASDASD</th>
                    <th scope="col" class="sort">sdfdsfdsfds</th>
                    <th scope="col" class="sort">sdfsdf</th>
                    <th scope="col" class="sort">sdfsdfsdfsdfsd</th>
                  </tr>
                  {%else%}
                  {% for index, row in records.iterrows() %}
                  {%if row['label'] == 1%}
                  <tr >
                    <td scope="col" class="sort col-2" style="font-size: 12px; background-color: #ff3232;"> {{ row['ip'] }}</td>
                    <td scope="col" class="sort col-2" style="font-size: 12px; background-color: #ff3232;">{{ row['mac'] }}</td>
                    <td scope="col" class="sort col-2" style="font-size: 12px; background-color: #ff3232;">{{ row['time_receive'] }}</td>
                    <td scope="col" class="sort col-4" style="font-size: 12px; background-color: #ff3232;">{{ row['unit_full_name'] }}</td>
                    <td scope="col" class="sort col-3" style="font-size: 12px; background-color: #ff3232; "><a href="{{ url_for('detail', ioc=row['extracted_ip'], mac=row['mac']) }}" style="color:#2e2434;">{{ row['description'] }}</a></td>
                  </tr>
                  {%else%}
                  <tr>
                    <td scope="col" class="sort col-2" style="font-size: 12px;">{{ row['ip'] }}</td>
                    <td scope="col" class="sort col-2" style="font-size: 12px;">{{ row['mac'] }}</td>
                    <td scope="col" class="sort col-2" style="font-size: 12px;">{{ row['time_receive'] }}</td>
                    <td scope="col" class="sort col-3" style="font-size: 12px;">{{ row['unit_full_name'] }}</td>
                    <td scope="col" class="sort col-3" style="font-size: 12px;"><a href="{{ url_for('detail', ioc=row['extracted_ip'], mac=row['mac']) }}" style="color:#2e2434;" >{{ row['description'] }}</a></td>
                  </tr>
                  {%endif%}
                  {% endfor %}
                  {%endif%}
                </tbody>
              </table>
            </div>
          </div>
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link nhat" href="#" tabindex="-1">
                      <i class="fa-solid fa-chevron-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <ul class="pagination justify-content-end mb-0">
                    {% if current_page == 1 %}
                        <li class="page-item active"><a class="page-link nhat" style="color:black;" href="#" id ="page_1">1</a></li>
                        {% if total_pages > 1 %}<li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_2'>2</a></li>
                        {% if total_pages > 3 %}<li class="page-item disabled"><a class="page-link nhat" style="color:black;">...</a></li>{% endif %}
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ total_pages }}">{{ total_pages }}</a></li>{% endif %}
                
                    {% elif current_page == 2 %}
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_1'>1</a></li>
                        <li class="page-item active"><a class="page-link nhat" style="color:black;" href="#" id ='page_2'>2</a></li>
                        {% if total_pages > 2 %}<li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_3'>3</a></li>{% endif %}
                        {% if total_pages > 4 %}<li class="page-item disabled"><a class="page-link nhat" style="color:black;">...</a></li>{% endif %}
                        {% if total_pages > 3 %}<li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ total_pages }}">{{ total_pages }}</a></li>{% endif %}
                
                    {% elif current_page == 3 %}
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_1'>1</a></li>
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_2'>2</a></li>
                        <li class="page-item active"><a class="page-link nhat" style="color:black;" href="#" id ='page_3'>3</a></li>
                        {% if total_pages > 3 %}<li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_4'>4</a></li>
                        {% if total_pages > 5 %}<li class="page-item disabled"><a class="page-link nhat" style="color:black;">...</a></li>{% endif %}
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ total_pages }}">{{ total_pages }}</a></li>{% endif %}
                
                    {% elif ((current_page > 3) and (current_page < (total_pages - 1)))  %}
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_1'>1</a></li>
                        <li class="page-item disabled"><a class="page-link nhat" style="color:black;">...</a></li>
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ current_page - 1 }}">{{ current_page - 1 }}</a></li>
                        <li class="page-item active"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ current_page }}">{{ current_page }}</a></li>
                         <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ current_page + 1 }}">{{ current_page + 1 }}</a></li>
                        <li class="page-item disabled"><a class="page-link nhat" style="color:black;">...</a></li>
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ total_pages }}">{{ total_pages }}</a></li>
                    {% elif (current_page == (total_pages - 1))  %}
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_1'>1</a></li>
                        <li class="page-item disabled"><a class="page-link nhat" style="color:black;">...</a></li>
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ current_page - 1 }}">{{ current_page - 1 }}</a></li>
                        <li class="page-item active"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ current_page }}">{{ current_page }}</a></li>
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ total_pages }}">{{ total_pages }}</a></li>
                    {% elif current_page == total_pages   %}
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id ='page_1'>1</a></li>
                        <li class="page-item disabled"><a class="page-link nhat" style="color:black;">...</a></li>
                        <li class="page-item"><a class="page-link nhat" style="color:black;" href="#" id="page_{{ current_page - 1 }}">{{ current_page - 1 }}</a></li>
                        <li class="page-item active"><a class="page-link " style="color:black;" href="#" id="page_{{ total_pages }}">{{ total_pages }}</a></li>
                    {% endif %}

                </ul>
                  <li class="page-item disabled">
                    <a class="page-link nhat" href="#">
                      <i class="fa-solid fa-chevron-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- để add bản ghi  -->
<script>
  $(document).ready(function() {
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('new_data', function(data) {
        var tableBody = $('.list');
        data = JSON.parse(data);
        data.forEach(function(row) {
              var newRow = `
                    <tr>
                    <th scope="col" class="sort col-2">${ row['ip'] }</th>
                    <th scope="col" class="sort col-2">${ row['mac'] }</th>
                    <th scope="col" class="sort col-2">${ row['time_receive'] }</th>
                    <th scope="col" class="sort col-3">${ row['unit_full_name'] }</th>
                    <th scope="col" class="sort col-3">${ row['description'] }</th>
                  </tr>`;
                if (row.label == 1){
                  newRow = `
                    <tr>
                    <th scope="col" class="sort col-2">${ row['ip'] }</th>
                    <th scope="col" class="sort col-2">${ row['mac'] }</th>
                    <th scope="col" class="sort col-2">${ row['time_receive'] }</th>
                    <th scope="col" class="sort col-3">${ row['unit_full_name'] }</th>
                    <th scope="col" class="sort col-3">${ row['description'] }</th>
                  </tr>`;
          }
              tableBody.append(newRow);
          });
      });
  });

const picker_2 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker_1'), {
  display: {
    components: {
      calendar: true,
      date: true,
      month: true,
      year: true,
      decades: true,
      clock: true,
      hours: true,
      minutes: true,
      seconds: true
      // ❌ bỏ useTwentyfourHour tại đây
    }
  },
  localization: {
    format: 'yyyy-MM-dd HH:mm:ss',
    hourCycle: 'h23'  // ✅ thay thế useTwentyfourHour
  }
});



 const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker_2'), {
  display: {
    components: {
      calendar: true,
      date: true,
      month: true,
      year: true,
      decades: true,
      clock: true,
      hours: true,
      minutes: true,
      seconds: true
      // ❌ bỏ useTwentyfourHour tại đây
    }
  },
  localization: {
    format: 'yyyy-MM-dd HH:mm:ss',
    hourCycle: 'h23'  // ✅ thay thế useTwentyfourHour
  }
});

    window.addEventListener('load', function () {
        if (performance.navigation.type === 1) {
            // Nếu là reload (F5)
            fetch('/reset_search', {
                method: 'POST',
                credentials: 'include'
            }).then(() => {
                window.location.href = '/monitor';
            });
        }
    });
</script>

<!-- để phân trang  -->

{% endblock javascripts %}
